@model CBA.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit User @(ViewBag.UserName as string)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>EditUser</h4>*@
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        
        <div class="form-group">
            @Html.Label("UserName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(ViewBag.UserName as string)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.FirstName)*@
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.LastName)*@
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherNames, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.OtherNames, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.OtherNames)*@
                @Html.ValidationMessageFor(model => model.OtherNames)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.PhoneNumber)*@
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
                @*@Html.EditorFor(model => model.Email)*@
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchID, "Branch", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BranchID, ViewBag.AllBranches as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.IsSuperAdmin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSuperAdmin)
                @Html.ValidationMessageFor(model => model.IsSuperAdmin)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
