@model CBA.Models.LoginViewModel

@{
    ViewBag.IsLogin = true;
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/adminlteCSS")
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b><i>Fin</i>Sky</b>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            
            <p class="login-box-msg">Sign in to start your session</p>
            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            
                                <input type="checkbox" style="margin-left:0px; margin-right:15px"/><span> Remember Me </span>

    @*@Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)*@
</div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <input type="submit" value="Log in" class="btn btn-primary btn-block btn-flat" />
                    </div><!-- /.col -->
                </div>
            }
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    @Scripts.Render("~/bundles/adminlteJS")
    @Scripts.Render("~/bundles/jqueryval")
    <!-- iCheck -->
    @*<script src="../../plugins/iCheck/icheck.min.js"></script>*@
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>

</html>


