@model IEnumerable<CBA.Core.GLCategory>

@{
    ViewBag.Title = "All GL Categories";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <h4>@TempData["SuccessMessage"]</h4>
    </div>
    @*<h1 class="text-success">@TempData["SuccessMessage"].</h1>*@
}
<h2>All GL Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCategory)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })

            </td>
        </tr>
    }

</table>
