@model CBA.Core.ViewModels.CreateTellerView

@{
    ViewBag.Title = "Create Teller";
}

<h2>Create Teller</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Assign a User to a Till</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserID, ViewBag.AllUnAssignedUsers as SelectList)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TillAccountID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TillAccountID, ViewBag.AllUnAssignedTills as SelectList)
                @Html.ValidationMessageFor(model => model.TillAccountID)
            </div>
        </div>        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
