@model IEnumerable<CBA.Core.TrialBalanceEntry>

@{
    ViewBag.Title = "Trial Balance";
}

<h2>TRIAL BALANCE AS AT @(ViewBag.CurrentFinancialDate)</h2>


<table class="table table-striped table-bordered">
    <tr>
        <th>
            @("GL Accounts")
        </th>
        <th>
            DR
        </th>
        <th>
            CR
        </th>
        @*<th></th>*@
    </tr>
    <tr>
        <th>

        </th>
        <th>
            <span data-currency-iso="NGN">&#8358;</span>
        </th>
        <th>
            <span data-currency-iso="NGN">&#8358;</span>
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GLAccountName)
            </td>
            @if (item.IsDebitBalance)
            {
                <td>
                    @(item.Balance.ToString("#,##0.00;(#,##0.00))"))
                </td>
                <td></td>
            }
            else
            {
                <td></td>
                <td>
                    @(item.Balance.ToString("#,##0.00;(#,##0.00))"))
                </td>
            }
        </tr>
    }
    <tr>
        <td></td>
        <td><strong> @(ViewBag.DebitTotal.ToString("#,##0.00;(#,##0.00))"))</strong></td>
        <td><strong> @(ViewBag.CreditTotal.ToString("#,##0.00;(#,##0.00))"))</strong></td>

    </tr>

</table>
